.programs{
    text-align: start;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
}

.program-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    flex-wrap: wrap;

}
.program-detail{
  
    width: 500px;
    line-height: 1.1;

 margin-left: 10rem;
}
.program-text{
    display: flex;
    align-items: center;
   justify-content: space-between;
   font-size: 0.8rem;
   margin: 0 0.8rem;
   
    
}
.program-text span{
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
    width: 50%;
}
.program-detail2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin-right: 10rem;
}
.program-detail2 p{
 
    width: 500px;
}
@media (max-width:700px) {
    .program-detail{
        display: flex;
        flex-direction: column;
        align-items: start;
        width:80%;  
     margin-left: 0.5rem;
     text-align: start;
    }
    .program-detail2{
       
        margin-right: 0.5rem;
    }
}