
.products{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    justify-content: center;
    gap: 3rem;
    margin-left: 1rem;
}
.products .pro-area{
    display: flex;
    align-items: center;
    justify-content: end;
   
   
}
.pro-text{
    text-align: start;

    width: 40%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pro-text2{
    text-align: end;
    align-items: flex-end;
    width: 60%;
    margin-right: 5rem;
  
}
.pro-text h2{
    font-size:80px ;
    color: #B20149;
}
.pro-text .func{
    color: #B20149;
}
.pro-text p{
    font-weight: 600;
    color: #121942;
    font-size: 20px;

}
.pro-text span{
    color: #525252;
    font-size: 15px;
 
}
.pro-text button{
    height: 50px;
    width: 200px;
    border: 1px solid #ED5009;
    background-color: #4E62D6;
    color: white;
    border-radius: 2px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.pro-text button svg{
    font-size: 1.4rem;
    font-weight: 900;
}
.pro-img{
    display: flex;
    align-items: flex-end;
    
}
.pro-img img{
    height: 450px;
}
 .our{
    position: absolute;
    left: 10px;
    top: 105px;
}
.products{
    position: relative;
}
.pro-product{
    position: absolute;
    left: 10px;
    top: 120px;
}
.pro-text1{
    margin-left: 7rem;
}