.Previous{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.Previous h2, .newspaper h2{
    font-size: 2rem;
    border-left: 8px solid #ed5009;
    padding-left: 0.3rem;
    width: 92%;
    display: flex;
}

.Previous .event-list, .Previous .hide{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;

}
 .event-list .event-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
    
}
.event-list .event-item h3{
    font-size: 1.15rem ;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.event-list .event-item img{
    height: 13rem;
    width: 20rem;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-in;
    object-fit: cover;
}
.event-list .event-item img:hover{
    transform: scale(1.1);
}

.Previous .newspaper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.Previous .artical-area , .Previous .hideNews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;

}
.artical-area .artical{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin-bottom: 2rem;
}
.artical-area .artical h3{
    font-size: 1.15rem ;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.artical-area .artical img{
    object-fit: contain;
    height: 400px;
}
@media (max-width:1300px) {
    .artical-area .artical{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-bottom: 2rem;
    }
    
    .artical-area .artical img{
        object-fit: contain;
        height: 250px;
    }
}
@media (max-width:740px) {
    .Previous h2, .newspaper h2{
     
        border-left: none;
        justify-content: center;
    }
}