.Navbar{

    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    cursor: pointer;
    margin-bottom: 2rem;

}
.Navbar svg{
    font-size: 1.6rem;
    z-index: 2;
}