

.App {
  text-align: center;
  background-color: #FBF8F0;
  font-family: 'League Spartan', sans-serif;
}
p{
  font-size: 15px;
 color: #525252;
  font-family: 'Lora', serif;
  font-family: 'Urbanist', sans-serif;
}
button{
  height: 50px;
  width: 200px;
  border: 1px solid #ED5009;
  background-color: #4E62D6;
  color: white;
  border-radius: 2px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
 margin-top: 5rem;
 margin-left: 10rem;
}
button svg{
  color: #ED5009;
  font-size: 1.2rem;
}
a{
  text-decoration: none;
  color: inherit;
}
h2{
  font-size: 2rem;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption,
blockquote,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
