.Colab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.Colab h1 {
    width: 800px;

    font-size: 2rem;
}
.Colab img{
    height: 300px;
 
}
.Colab .forsmall{
    display: none;
}
.Colab .txt-1{
    position: absolute;
    top: 35%;
    left: 34%;
    text-align: start;
}
.Colab .txt-2{
    position: absolute;
    bottom: 20%;
    right: 32%;
    text-align: start;
    font-size: 14px;
}



@media (max-width:900px) {
    .Colab .forsmall{
        display:flex;
    }
.large{
    display: none;
}
.Colab h1 {
    width: 500px;

}
.Colab img{
    height: 300px;
}

}
@media (max-width:1600px) {
    .Colab .txt-1{   
        left: 31%;     
    }
    .Colab .txt-2{
        right: 28%;       
    }
}
@media (max-width:1400px) {
    .Colab .txt-1{
        left: 27%;   
    }
    .Colab .txt-2{
        right: 23%;    
    }
}
@media (max-width:500px) {

    .Colab h1 {
        /* width: 380px;
        font-weight: 400; */
        width: 95%;
        font-size: 1.5rem;
    }
    .Colab img{
        height: 180px;
    }   
}